<div class="hero-container">
    
    <div class="navbar-top">
        <app-navegacion-general></app-navegacion-general>
    </div>

    <img src="https://cdn.pixabay.com/photo/2016/11/08/05/29/operation-1807543_1280.jpg" alt="Fondo" class="hero-bg" />

    <div class="hero-content">
        <h2 class="hero-subtitle">Grupo Médico</h2>
        <h1 class="hero-title">Nova Salud</h1>
        
        <div class="hero-divider"></div>
        
        <p class="hero-description">Deja tu salud en nuestras manos</p>

        <div class="hero-buttons">
            <a href="/conocenos"><p-button label="QUIENES SOMOS" styleClass="btn-outline"></p-button></a>
            <a href="/personal-medico"><p-button label="MEDICOS" styleClass="btn-solid"></p-button></a>
        </div>
    </div>

</div>