<table class="tabla-enfermeria" *ngIf="!cargando">
  <thead>
    <tr>
      <th>N° Cita</th>
      <th>Hora de atención</th>
      <th>Paciente</th>
      <th>DNI</th>
      <th>Acción</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let cita of citasEnEspera">
      <td>#{{ cita.id }}</td>
      <td class="hora-resaltada">{{ cita.fechaHora | date:'shortTime' }}</td>
      <td>{{ cita.pacienteNombre }} {{ cita.pacienteApellido }}</td>
      <td>{{ cita.pacienteNumeroDocumento }}</td>
      <td>
        <button class="btn-llamar" (click)="llamarPaciente(cita.id)">
          Llamar a Triage
        </button>
      </td>
    </tr>

    <tr *ngIf="citasEnEspera.length === 0">
      <td colspan="5" class="tabla-vacia">
        No hay pacientes esperando en este momento.
      </td>
    </tr>
  </tbody>
</table>