<div class="graficos-container">
  <div class="grafico-card widget-dona">
    <div class="card-header">
      <h4>Distribución Diaria</h4>
      <span class="badge-hoy">En vivo</span>
    </div>
    <div class="canvas-wrapper">
      <canvas id="chartHoyCanvas"></canvas>
    </div>
  </div>

  <div class="grafico-card widget-linea">
    <div class="card-header">
      <h4>Rendimiento Histórico Mensual</h4>
    </div>
    <div class="canvas-wrapper">
      <canvas id="chartGeneralCanvas"></canvas>
    </div>
  </div>
</div>