.medicos-layout {
    min-height: 100vh;
    background-color: #f4fcff;
    display: flex;
    flex-direction: column;
}

.medicos-layout {
    min-height: 100vh;
    background-color: #f4fcff;
    display: flex;
    flex-direction: column;
}

.contenido-principal {
    flex: 1;
    padding-top: 7rem;
}


.medicos-layout {
    min-height: 100vh;
    background-color: #f4fcff;
    display: flex;
    flex-direction: column;
}

.contenido-principal {
    flex: 1;
    padding-top: 2.5rem; 
}